connect.php
.DS_Store
.idea/


vendor/slim/slim/

vendor/klein/klein/

/vendor/
resources/composer.php
vendor/autoload.php
vendor/composer/installed.json
vendor/composer/autoload_namespaces.php
vendor/autoload.php
vendor/composer/LICENSE
vendor/composer/autoload_real.php
vendor/autoload.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
