<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h2>Opportunities</h2>
			<div class="col-md-5">
				<h3>Clean up Downtown Troy</h3>
				<p>Do this and know where you are going to be waking up in the morning.</p>
			</div>
		</div>
		<div class="col-md-3">
			<h4>Categories</h4>
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation">
					<a href="#/">Test</a>
				</li>
				<li role="presentation">
					<a href="#/">Test</a>
				</li>
				<li role="presentation">
					<a href="#/">Test</a>
				</li>
				<li role="presentation">
					<a href="#/">Test</a>
				</li>
				<li role="presentation">
					<a href="#/">Test</a>
				</li>
			</ul>
		</div>
	</div>
</div>
