<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Opportunities <a type="button" class="btn btn-default pull-right" href="#/add">Add New</a></h2>
				<!-- <center><a name="outdoors"></a><h3>Outdoors</h3></center> -->
				<div class="col-md-4">
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
				</div>
				<div class="col-md-4">
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
				</div>
				<div class="col-md-4">
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
					<h2>Hello World</h1>
					<p>We will have a small subset of the total information here. Click below for more.</p>
					<p class="pull-right small">November 22, 2015, 12-3pm<br/><span class="pull-right">20 volunteers needed</span></p>
					<a type="button" class="btn btn-info btn-sm" href="#/details">Learn More</a>
					<a type="button" class="btn btn-success btn-sm" href="#/signup">Sign Up</a>
					<hr>
				</div>
				<!-- <center><a name="local-government"></a><h3>Local Government</h3></center> -->
				
			</div>
			<!-- <div class="col-md-3">
				<h4>Categories</h4>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation">
						<a href="#/#outdoors">Outdoors</a>
					</li>
					<li role="presentation">
						<a href="#/#local-government">Local Government</a>
					</li>
					<li role="presentation">
						<a href="#/">Test</a>
					</li>
					<li role="presentation">
						<a href="#/">Test</a>
					</li>
					<li role="presentation">
						<a href="#/">Test</a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</main>
