<main>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1>Your Profile</h1>
				<br />
				<h4>Run a SQL Query to figure out what is going on here.</h4>
				<p>List out some basic details about the user. Why not even support gravatar just for kicks.</p>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Personal Information</h3>
					</div>
					<div class="panel-body">
						Name: <br \>
						Email: <br \>
						Account Provider: <br \>
						Website Role: <br \>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
